.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
  background: linear-gradient(90deg, #000000 0%, #333333 50%, #000000 100%);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  font-size: 24px;
  font-weight: bold;
}


.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;

}

.logo img {
  height: 40px;
  margin-right: 10px;
}

/* Sidebar */
.sidebar {
  position: fixed; /* sayfada sabit konumda kalması için */
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  overflow-x: hidden;
  transition: 0.3s; /* yumuşak açılıp kapanma */
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  z-index: 1000; /* sidebar'ı diğer tüm elementlerin üstüne çıkarır */
}

/* sidebar açık olduğunda */
.sidebar.open {
  left: 0; /* görünür hale gelir */
}

/* Sidebar bağlantıları */
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  display: block;
}

.sidebar a:hover {
  background-color: #575757;
}



.user-info-container h2 {
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
}

form {
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
  margin-top: 20px;
  background-color: purple;
}

.quiz-wrapper, .name-surname-tc-container {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.form-container, .result-container, .user-info-container {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

button {
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background-color: #49007a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #a64d79;
  transform: scale(1.05);
}

.result-container p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #388e3c;
}

.result-container button {
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 15px;
}

.result-container button:first-child {
  background-color: mediumpurple;
}

.result-container button:last-child {
  background-color: darkslateblue;
  padding: 15px;
}
.result-container button:last-child:hover {
  background-color: darkblue;
}

.navigation-buttons {
  margin-top: 20px;
}

.navigation-buttons button {
  background-color: #555;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.navigation-buttons button:hover {
  background-color: #777;
  transform: scale(1.05);
}

button.selected {
  background-color: #009688;
  transform: scale(1.05);
}

